
a span{
  font-size: 25px;
  color: darkgreen;
}

.navbar{
 /*border-bottom: 1px solid black;*/
  padding-bottom:20px;
}
i {
  margin-right: 10px;
}
.right{
  float: right;
}
.searchContainer {
  display: inline-flex;
  flex: 1 1 300px;
  position: relative;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.searchIcon {
  padding: 0.5rem;
  background-color: white;
  margin-right: 0px;
}

.searchBox {
  border: 0;
  padding: 0.5rem 0.5rem 0.5rem 0;
  flex: 1;
}

.searchButton {
  background: darkgreen;
  border: 0;
  color: white;
  padding: 0.5rem;
  border-radius: 0;
}

