.parent {
  width: 75%;
  height: 250px;
  position: relative;
  overflow: hidden;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 12%;


}
.parent .blur {
  display: block;
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: white;
  background-image:url("src/assets/img/jumbotron-image.jpg");
  border-radius: 50px;
  background-size: 1320px 250px;
  background-repeat: no-repeat;
  border: 1px solid black;

}
.parent h1 {
  position:relative;
  font-size: 50px;
  font-family: 'Serifa Roman', SansSerif;
  color: black;
  z-index: 5;
  text-align: center;
  line-height: 150px;
}
.parent h2 {
  position:relative;
  font-size: 20px;
  color: black;
  z-index: 5;
  font-family: 'Serifa Roman', SansSerif;
  text-align: center;
  line-height: 1px;
}
.parent img{
  position:relative;
  z-index: 5;
}

h3 {
  margin-top: 2%;
  text-align: center;
  font-size: 30px;
  text-decoration: black underline;
  font-family: 'Serifa Light', SansSerif;


}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 210px;
  margin-left: 200px;
}


p{
  font-family: 'Andika New Basic', sans-serif;
  font-family: 'Arapey', serif;
  font-size: 28px;
}

h4{
  text-align: center;
  font-family: 'Serifa Light', SansSerif;
  text-decoration: black underline;
}




