<div>
  <div class="parent">
    <h1>MyRecipeBook</h1><!-- your content -->
    <h2>CREATE YOUR OWN RECIPE'S</h2><!-- your content -->
    <span class="blur"></span>
  </div><!-- parent -->
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h4>About MyRecipeBook</h4>
        <p>MyRecipeBook is an app that helps you organize your recipes,and create recipes. Using MyRecipeBook's
          built-in browser, you can save recipes that you have created in the app.</p>
        <p>MyRecipeBook is an app that helps you organize your recipes,and create recipes. Using MyRecipeBook's
          built-in browser, you can save recipes that you have created in the app.</p>
      </div>
    </div>
  </div>
  <hr>
  <div class="container" align="center">
    <h3>KEY FEATURES</h3>
    <div class="row row-cols-4">
      <div class="col"><p>Create your own recipe!We understand that you want to invent something of your type in
        kitchen,
        create your recipes on our app.</p></div>
      <div class="col">
        <img width="150" height="150" src="https://img.icons8.com/bubbles/344/food.png">
      </div>
    </div>
    <br>
    <div class="row row-cols-4">
      <div class="col">
        <img width="150" height="150" src="https://img.icons8.com/bubbles/344/image.png">
      </div>
      <div class="col"><p>Add a snapshot of your created recipe or you can choose an image from our wide variety of
        pictures for your recipe's</p></div>
    </div>
    <br>
    <div class="row row-cols-4">
      <div class="col"><p>
        Gotta make a correction?? Edit your recipe anytime with our edit recipe feature!!
      </p>
      </div>
      <div class="col">
        <img width="150" height="150" src="https://img.icons8.com/bubbles/344/edit.png">
      </div>
    </div>
    <br>
    <div class="row row-cols-4">
      <div class="col">
        <img width="150" height="150" src="https://img.icons8.com/bubbles/344/save.png">
      </div>
      <div class="col"><p>Save your recipe's! All of your recipes are conveniently organized in one central place and
        always with you!! </p></div>
    </div>
  </div>
  <hr>
</div>
